@model IEnumerable<_04_Business.Models.RoleModel>

<div class="container">
    <h1 class="text-center">Role List</h1>
    <br />
    <br />
    <p class="text-center">
        <a class="btn btn-outline-danger" asp-action="Create"><i class="fas fa-plus"></i> Create New Role</a>
    </p>
    <div class="row justify-content-center">
        <table class="table col-5">
            <thead>
                <tr class="role-text" style="position: relative; left: 268px;">
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="role-body" style="position: relative; left: 55px;">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="role-td" style="position: relative; left: 60px;">
                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-lg fa-info-circle"></i> Details</a>
                            <a class="btn btn-danger" asp-action="Delete" method="post" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>