@model _04_Business.Models.ForgotPasswordModel

@{
    var searchToken = Guid.NewGuid().ToString();
}

<h1 class="text-center">Forgot Password</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4 text-center">
        <form asp-action="ForgotPassword" method="post" asp-route-email="@searchToken">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input id="btnSearchMembers" type="submit" value="Send Code" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    window.onload = function(){
    var searchLink = document.getElementById("btnSearchMembers");
    var originalHref = searchLink.href;
    searchLink.onclick = function(e){
       e.target.href = originalHref.replace("@searchToken", searchTextElement.value);
    };
}
</script>