@model _04_Business.Models.UserLoginModel

<div class="row justify-content-center xs-div" style="margin-right: -125px;">
    <form class="form-signin signinform" asp-action="Login">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label asp-for="UserName" class="sr-only">Username</label>
        <input type="text" id="inputUsername" asp-for="UserName" class="form-control" placeholder="Username" required="" autofocus="">
        <label asp-for="Password" class="sr-only">Password</label>
        <input type="password" id="inputPassword" asp-for="Password" class="form-control" placeholder="Password" required="">
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <br />
    </form>
    <div class="forgotpassword-button" style="position: relative; top: 382px; right: 370px;">
        <a class="btn btn-lg btn-secondary btn-block" asp-controller="Account" method="GET" asp-action="ForgotPassword">Forgot Password</a>
    </div>
</div>