@model _04_Business.Models.UserRegisterModel

<div class="row justify-content-center">
    <form class="form-signin signinform" asp-action="Register">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label asp-for="UserName" class="sr-only">Username</label>
        <input type="text" id="inputUsername" asp-for="UserName" class="form-control" placeholder="Username" required="" autofocus="">
        <label asp-for="Email" class="sr-only">Email</label>
        <input type="text" id="inputEmail" asp-for="Email" class="form-control" placeholder="Email" required="" autofocus="">
        <label asp-for="Password" class="sr-only">Password</label>
        <input type="password" id="inputPassword" asp-for="Password" class="form-control" placeholder="Password" required="">
        <label asp-for="ConfirmPassword" class="sr-only">Confirm Password</label>
        <input type="password" id="inputConfirmPassword" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" required="">
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
</div>