@{
    ViewData["Title"] = "Home";
}

<div class="text-left">
    <h1 class="display-4">@_05_MvcWebUI.Settings.AppSettings.Title</h1>
    @{
        string userName = "";
        if (User.Identity.IsAuthenticated)
        {
            userName = User.Identity.Name;
        }
    }
    <p>Welcome @userName</p>
</div>